*{
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}

/* NAV BAR SECTION */

.navbar{
    background-color: aqua;
    display: flexbox;
    flex-direction: column;
}

.logo-text{
    font-size: 20px;

}

.navbar li{
    list-style: none;
    text-decoration: none;
    
}




/* BODY SECTION */

body{

    /* background-color: aqua; */
}